node_modules
.env
uploads/admin/*
uploads/cars/*
uploads/promotions/*
uploads/user/*
uploads/driver/*
uploads/driverDocuments/*
!uploads/admin/.gitkeep
!uploads/cars/.gitkeep
!uploads/promotions/.gitkeep
!uploads/user/.gitkeep
!uploads/driver/.gitkeep
!uploads/driverDocuments/.gitkeep

